<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
      <pipelines>
            <mvc.renderRendering>
                <processor type="Foundation.Caching.Pipelines.Renderings.RenderFromCache, Foundation.Caching" resolve="true" patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.RenderFromCache, Sitecore.Mvc']" />
                <processor type="Foundation.Caching.Pipelines.Renderings.AddRecordedHtmlToCache, Foundation.Caching" patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.AddRecordedHtmlToCache, Sitecore.Mvc']" />
                <processor type="Foundation.Caching.Pipelines.Renderings.GenerateCacheKey, Foundation.Caching" resolve="true" patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" />
            </mvc.renderRendering>
      </pipelines>
  </sitecore>
</configuration>
